/*


Herunder har vi de downloadede fonte
*/

/* Overskrift H1 */
.irish-grover-regular {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Overskrift H2 */
.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Brødtekst */
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*


Herunder har vi defineret de selecetorer, som påvirker faste elementer på sitet
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: "";
}

img {
  width: 100%;
}

body {
  background-color: rgba(255, 254, 243, 1);
}

footer {
  margin-top: 15rem;
}

/*


Herunder findes classes som henviser tilbage til elementer på index 
*/

.section1,
.section3 {
  background-image: url("images/baggrund2.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 5em;
}

.section2,
.section4 {
  background-color: rgba(238, 182, 94, 0.2);
  padding-bottom: 5em;
}

.holdet {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

@media (width > 800px) {
  /* Ved desktop størrelse */

  .holdet {
    width: 60%;
    margin-bottom: 0rem;
  }
}

/*


Herunder har vi defineret de selectorer, som påvirker overskrifter og tekst
*/

h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: var(--H2-Size-Mobile);
  padding-top: 4rem;
  padding-bottom: 2rem;
  text-align: center;
  color: rgba(255, 172, 0, 1);
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: var(--Brødtekst-Size-Mobile);
  line-height: 1.8rem;
  margin: 0rem 8%;
}

@media (width > 800px) {
  /* Ved desktop størrelse */
  h2 {
    font-size: var(--H2-Size-Desktop);
  }
  p {
    margin: 0rem 20%;
    font-size: var(--Brødtekst-Size-Desktop);
    line-height: var(--LineHeight);
    padding-bottom: 2.5rem;
  }
}

/*


Herunder har vi alt overordnet :root samlet, som vi henviser til med var()
*/

:root {
  /* Font Size Desktop*/
  --H2-Size-Desktop: 3rem;
  --Brødtekst-Size-Desktop: 1.1rem;

  /* Font Size Mobile*/
  --H2-Size-Mobile: 1.7rem;
  --Brødtekst-Size-Mobile: 0.9rem;

  /* Colors */
  --White: rgba(255, 255, 255, 1);
  --Black: rgba(0, 0, 0, 1);
  --Purple: rgba(168, 127, 167, 1);
  --Green: rgba(114, 189, 71, 1);
  --Yellow: rgba(255, 172, 0, 1);
  --Red: rgba(213, 102, 110, 1);
  --Pink: rgba(220, 158, 181, 1);
  --Blue: rgba(53, 121, 185, 1);

  /* Other */
  --LineHeight: 2.3rem;
  --BorderRadius: 0.3rem;
  --Padding: 2rem;
}
