/*
/* DOWNLOADEDE FONTE */

/* H1 OVERSKRIFT */
.irish-grover-regular {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* H2 OVERSKRIFT */
.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* BRØDTEKST */
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: "";
}

body {
  background-color: rgba(255, 254, 243, 1);
}

h1 {
  font-family: "Irish Grover", system-ui;
  font-size: var(--H1-Size);
  text-align: center;
  margin: 5% 1%;
}

h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: var(--H2-Size);
  margin-top: 8rem;
  margin-bottom: 1rem;
  text-align: center;
  color: rgba(255, 172, 0, 1);
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: var(--Brødtekst-Size);
  line-height: var(--LineHeight);
  margin: 0rem 20rem;
  padding: 1.5rem;
}

img {
  width: 100%;
}

footer {
  margin-top: 15rem;
}

.section2 {
  background-color: rgba(220, 158, 181, 1);
}

/* .section5 {
  width: 100%;
  height: 80vh;
  padding-top: 200vh;
  background-image: url("images/Holdet.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} */
.holdet {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

:root {
  /* Font Size */
  --H1-Size: 4rem;
  --H2-Size: 2rem;
  --H3-Size: 2rem;
  --Brødtekst-Size: 1.1rem;

  /* Colors */
  --White: rgba(255, 255, 255, 1);
  --Black: rgba(0, 0, 0, 1);
  --Purple: rgba(168, 127, 167, 1);
  --Green: rgba(114, 189, 71, 1);
  --Yellow: rgba(255, 172, 0, 1);
  --Red: rgba(213, 102, 110, 1);
  --Pink: rgba(220, 158, 181, 1);
  --Blue: rgba(53, 121, 185, 1);

  /* Other */
  --LineHeight: 2.3rem;
  --BorderRadius: 0.3rem;
  --Padding: 2rem;
}
