---

---

<section>
  <div class="container">
    <div class="card" style="--i: -3">
      <img src="images/birger.webp" alt="" />
    </div>
    <div class="card" style="--i: -2">
      <img src="images/falbe.webp" alt="" />
    </div>
    <div class="card" style="--i: -1">
      <img src="images/helle.webp" alt="" />
    </div>
    <div class="card" style="--i: 0">
      <img src="images/henny.webp" alt="" />
    </div>
    <div class="card" style="--i: 1">
      <img src="images/lasse.webp" alt="" />
    </div>
    <div class="card" style="--i: 2">
      <img src="images/michael.webp" alt="" />
    </div>
    <div class="card" style="--i: 3">
      <img src="images/rasmus.webp" alt="" />
    </div>
  </div>
</section>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
  }

  .container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container .card {
    position: absolute;
    /* width: 240px;
    height: 320px; */
    cursor: pointer;
    transition: 0.5s;
    transform-origin: 50% 100%;
    transform: rotate(calc(var(--i) * 5deg))
      translate(calc(var(--i) * 120px), -50px);
  }

  .container:hover .card {
    transform: rotate(calc(var(--i) * 5deg))
      translate(calc(var(--i) * 120px), -50px);
  }

  .container .card:hover {
    translate: calc(var(--i) * 20px) -50px;
    z-index: 100;
  }
</style>
