---
import "../styles/global.css";
---

<script
  src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs"
  type="module"></script>

<dotlottie-player
  src="https://lottie.host/b9ed3b38-f3ca-482d-bc7c-72fea10fd4ae/iCQhLjrOwT.json"
  background="transparent"
  speed="1"
  style="width: 70%; height: 70%;"
  autoplay></dotlottie-player>

<style>
  dotlottie-player {
    margin: 0 auto;
  }
</style>
<!--   
<span>M</span>
<span>a</span>
<span>g</span>
<span>i</span>
<span>-</span>
<span>M</span>
<span>a</span>
<span>k</span>
<span>k</span>
<span>e</span>
<span>r</span>
<span>n</span>
<span>e</span>

<style>
  .rainbow-letters {
    /* font-size: 40px; */
  }

  .rainbow-letters span:nth-child(10n + 1) {
    color: var(--Green);
  }

  .rainbow-letters span:nth-child(10n + 2) {
    color: var(--Purple);
  }

  .rainbow-letters span:nth-child(10n + 3) {
    color: var(--Yellow);
  }

  .rainbow-letters span:nth-child(10n + 5) {
    color: var(--Black);
  }

  .rainbow-letters span:nth-child(10n + 4) {
    color: var(--Red);
  }

  .rainbow-letters span:nth-child(10n + 6) {
    color: var(--Pink);
  }

  .rainbow-letters span:nth-child(10n + 7) {
    color: var(--Blue);
  }

  .rainbow-letters span:nth-child(10n + 8) {
    color: var(--Purple);
  }

  .rainbow-letters span:nth-child(10n + 9) {
    color: var(--Green);
  }

  .rainbow-letters span:nth-child(10n + 10) {
    color: var(--Yellow);
  }

  .rainbow-letters span:nth-child(10n + 11) {
    color: var(--Red);
  }

  .rainbow-letters span:nth-child(10n + 12) {
    color: var(--Pink);
  }

  .rainbow-letters span:nth-child(10n + 12) {
    color: var(--Blue);
  }
</style> -->
