---
function scrollTrigger(selector, options = {}) {
  let els = document.querySelectorAll(selector);
  els.forEach((el) => {
    addObserver(el, options);
  });
}
function addObserver(el, options) {
  if (!("IntersectionObserver" in window)) {
    if (options.cb) {
      options.cb(el);
    } else {
      el.classList.add("active");
    }
    return;
  }
  let observer = new IntersectionObserver((entries, observer) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        if (options.cb) {
          options.cb(el);
        } else {
          entry.target.classList.add("active");
        }
        observer.unobserve(entry.target);
      }
    });
  }, options);
  observer.observe(el);
}
scrollTrigger(".intro-text");

scrollTrigger(".scroll-reveal", {
  rootMargin: "-200px",
});

scrollTrigger(".loader", {
  rootMargin: "-200px",
  cb: function (el) {
    el.innerText = "Loading...";
    setTimeout(() => {
      el.innerText = "Task Complete!";
    }, 1000);
  },
});
---

<section>
  <div class="scroll-reveal box bottom">
    Magi-Makkerne bringer magi og glæde til indlagte børn – og det vi er meget
    stolte af!
  </div>

  <div class="scroll-reveal box bottom">
    Tryllekunstnernes arbejde er af uvurderlig værdi for børnene, der står over
    for udfordringer som stik, bedøvelser, operationer eller følelsesmæssig uro
    og frygt.
  </div>
  <div class="scroll-reveal box bottom">
    Gennem magiske tricks skaber vi en underholdende og positiv oplevelse, der
    giver børnene en pause fra sygdom, ventetid, frygt og sorg.
  </div>
</section>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Roboto", sans-serif;
    padding: 1em;
  }

  @keyframes typeIn {
    to {
      width: 28ch;
    }
  }

  .box {
    width: 300px;
    height: 300px;
    text-align: center;
    line-height: 200px;
    margin: 50em 0;
    margin-left: calc(50% - 100px);
    transition:
      transform 0.5s,
      opacity 0.5s;
    color: #ac1f1f;
    font-weight: bold;
  }
  .box.bottom {
    transform: translateY(200px) scaleX(3);
    opacity: 0;
  }
  .box.active {
    transform: translateX(0);
    opacity: 1;
  }

  .loader {
    text-align: center;
  }
</style>
